@page "/"

<!doctype html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h3 class="display-3" >When Experience Matters</h3>
          <p>Car Service is a leading chauffeured limousine, car service and luxury bus charter company providing service in Athens,Greece</p>
          <p><a class="btn btn-primary btn-lg" href="https://github.com/Charisn" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
        <hr>
    </main>

    <footer class="container">
      <p>&copy; Car Service 2020-2022</p>
    </footer>
    </body>
</html>